.text-card {
  text-align: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: 5px;

  .card {
    margin: 10px;
    width: 25rem;
    border: 0;
  }

}

.img_partenaire{
  max-width: 20%;
}
