<div class="conditionGenerale" >
    <h1>Mentions Légales</h1>
    <br>
    <hr>
    <br>
    <h3>Information corporate</h3>
    <br>
    <p>Nom et adresse: EIXA6 INFORMATIQUE, 5 rue Louise Michel 17320 Marennes </p>
    <p>Capital: SARL 7500€</p>
    <p>Directeur de la publication: Fabien BRISSONNEAU</p>
    <p>Téléphone: 0546757717</p>
    <p>Inscriptions au registre du commerce et des sociétés de La Rochelle: 442 193 744</p>
    <p>Hébergeur: AMEN.fr</p>
    <br>
    <h3>Conditions d'utilisation</h3>
  <br>
    <p>Le site EIXA6 est destiné à l'information personnelle de ses visiteurs. La marque EIXA6 est déposée au niveau
      international et couvre l'ensemble des fonctionnalités de nos produits. Le site ainsi que tout logiciel utilisé
      nécessairement en relation avec celui-ci peuvent contenir des informations confidentielles et protégées par le
      droit de la propriété intellectuelle en vigueur ou toute autre loi. Ainsi, sauf mention contraire, les droits de
      propriété intellectuelle sur les documents contenus dans le site et chacun des éléments créés pour ce site sont
      la propriété exclusive d'EIXA6 Informatique, celle-ci ne concédant aucune licence, ni aucun droit autre que celui
      de consulter le site.</p>
  <br>
    <p>La reproduction de tous documents publiés sur le site est seulement autorisée aux fins exclusives d'information
      pour un usage personnel et privé, toute reproduction du contenu de ce site (en tout ou partie) et toute
      utilisation de copies réalisées à d'autres fins étant expressément interdite. Il est également interdit de copier,
      modifier, traduire, créer une oeuvre dérivée, adapter, inverser la conception ou l'assemblage ou de toute autre
      manière tenter de trouver le code source (à l'exception des cas prévus par la loi), vendre, attribuer,
      sous-licencier ou transférer de quelque manière que ce soit tout droit afférant au logiciel. De même, il est
      également interdit de modifier le logiciel ou d'en utiliser des versions modifiées et notamment (sans que cette
      énumération soit limitative) en vue d'obtenir un accès non autorisé au service et d'accéder au site par un autre
      moyen que l'interface qui vous est fournie par EIXA6 à cet effet. EIXA6 se réserve le droit de demander des
      dommages et intérêts en cas de contrefaçon et plus généralement d'atteinte à ses droits de propriété
      intellectuelle.</p>
   <br>
  <br>
    <h3>Protection des données personnelles</h3>
  <br>
    <p>EIXA6 Informatique s'engage à préserver la confidentialité des informations éventuellement fournies en ligne
      par l'internaute. Toute information personnelle que l'internaute serait amené à transmettre à EIXA6 pour
      l'utilisation de certains services est soumise aux dispositions de la Loi n° 78-17 Informatique et Libertés
      du 06 janvier 1978. Conformément à l'article 27 de la Loi Informatique et Libertés du 6 janvier 1978, nous vous
      informons que vous disposez d'un droit d'accès, de rectification ou de suppression des informations personnelles
      vous concernant, que vous pouvez à tout moment exercer en écrivant à EIXA6 Informatique : 5 rue Louise Michel
      17320 Marennes - contact@eixa6.com - A l'attention du Service Communication.</p>
  <br>
    <p>Sur son site web EIXA6, EIXA6 peut recueillir des données personnelles qui permettront de vous identifier
      (notamment nom, adresse électronique).Si vous ne voulez pas qu'EIXA6 recueille vos coordonnées, merci de bien
      vouloir nous l'indiquer clairement dans le contenu de votre message. Dans le cas contraire, nous nous servirons
      de vos renseignements personnels à des fins de prospections commerciales ou plus précisément pour répondre à votre
      demande ou vous communiquer des informations spécifiques sur nos produits.</p>
  <br>
  <p>Enfin il est possible que nous partagions lesdits renseignements avec nos filiales afin de mesurer la fréquentation
    de nos sites web et d'améliorer leur contenu.</p>
  <br>
  <h3>Limitation de responsabilité</h3>
  <br>
  <p>EIXA6 Informatique decline toute résponsabilité</p>
  <br>
  <div class="limit">
  <p>pour toute interruption du site et de ses services.</p>
  <p>pour tout virus susceptible de causer des dommages, d'infecter, ou de détruire votre installation informatique ou
    toute autre installation dès lors que vous accédez à ce site web, que vous téléchargez un document, ou faites appel
    à quelque autre fonctionnalité du site.</p>
  <p>pour toute survenance de bogues.</p>
  <p>pour toute inexactitude ou omission portant sur des informations disponibles sur ce site.</p>
  <p>pour tout dommage résultant d'une intrusion frauduleuse d'un tiers ayant entraîné une modification des informations
    mises à la disposition sur le site.</p>
  <p>et plus généralement de tout dommage direct ou indirect, quelles qu'en soient les causes, origines, natures ou
    conséquences</p>
  <br>
  </div>
  <p>En outre, le site web EIXA6 peut inclure des liens vers d'autres site internet. EIXA6 décline toute responsabilité
    quant au contenu, publicités, produits, services ou tout autre matériel disponible sur ou à partir de ces sites.</p>
  <br>
  <p>EIXA6, en tant que propriétaire du site, se réserve le droit de modifier, ajouter, supprimer le contenu des
    informations de ce site à tout moment sans préavis. Ces changements s'appliqueront dès leur publication sur le site.
    La consultation du site une fois ces changements effectués implique automatiquement leur acceptation. Tout message
    envoyé à EIXA6 grâce ou via le site n'entraîne aucune obligation à la charge d'EIXA6.</p>
  <br>
  <p>Les présentes mentions légales sont régies par la loi française à l'exclusion de toute autre. Tout différend auquel
    ce site ou les présentes mentions légales donneraient lieu est soumis à la compétence exclusive des tribunaux français.
  </p>
</div>
