<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="btn btn-link navbar-brand" href="#top"
     style="font-size: 20px">Eixa6
  </a>
  <button aria-controls="navbar01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbar01" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar01">
    <ul class="navbar-nav mr-auto">
      <app-header-nav-button name="Dépannages" url="#depanages"></app-header-nav-button>
      <app-header-nav-button name="Créations" url="#creations"></app-header-nav-button>
      <app-header-nav-button name="Formations" url="#formations"></app-header-nav-button>
      <app-header-nav-button name="Réseaux" url="#reseaux"></app-header-nav-button>
      <app-header-nav-button name="Actualités" url="#actualites"></app-header-nav-button>
      <app-header-nav-button name="Où sommes-nous ?" url="#ou"></app-header-nav-button>
      <app-header-nav-button name="Nous contacter" url="#contact"></app-header-nav-button>
    </ul>
  </div>
</nav>

<div class="router" id="top">
  <br>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="btn btn-link" (click)="router.navigateByUrl('condition-générale')">
      <span class="text-muted">Mentions Légales</span>
    </a>
  </div>
</footer>
